<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">新增地址</div>
    </div>
    <div class="content">
        <div class="message">
          <div class="message-title">姓名</div>
          <div class="input-box">
            <input type="text" placeholder="请输入商品收件人" v-model="userName">
          </div>
        </div>
        <div class="separate"></div>
        <div class="message">
          <div class="message-title">手机号码</div>
          <div class="input-box">
            <input type="text" placeholder="请输入收件人手机号码" v-model="userPhone">
          </div>
        </div>
        <div class="separate"></div>
        <div class="message">
          <div class="message-title">详细地址</div>
          <div class="input-box">
            <input type="text" placeholder="请填写详细地址(街道、楼牌号等)" v-model="userAddress">
          </div>
        </div>
        <div class="separate"></div>
    </div>
    <div class="footer-btn">
      <button class="confirm" @click="preservation">确定</button>
    </div>
  </div>
</template>

<script>
import { nanoid } from 'nanoid'
export default {
  name: 'AddAddress',
  data () {
    return {
      userName: '',
      userPhone: '',
      userAddress: '',
      value: true
    }
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    preservation () {
      const addressItem = {
        id: nanoid(),
        name: this.userName,
        phone: this.userPhone,
        addressContent: this.userAddress
      }
      this.$store.dispatch('requestAddAddressList', addressItem)
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
  font-weight: bolder;
}
.message{
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.message-title{
  width: 0.89rem;
  font-size: 0.15rem;
  font-weight: bold;
  margin-left: 0.15rem;
}
input{
  float: left;
  border: none;
  outline: none;
  font-size: 0.15rem;
  margin-top: 2px;
}
.separate{
  width: 3.45rem;
  height: 1px;
  background-color: #F4F4F4;
  margin-left: 0.15rem;
  margin-top: 16px;
}
.footer-btn {
  width: 100%;
  height: 50px;
  margin-top: 11px;
  display: flex;
  justify-content: space-around;
}
.confirm {
  width: 3.47rem;
  height: 40px;
  background: #51c569;
  box-shadow: 0px 2px 4px rgba(81, 197, 105, 0.4);
  border-radius: 24px;
  border: none;
  position: fixed;
  bottom: 0%;
  font-size: 0.18rem;
  color: #ffffff;
}
</style>
