<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">新增就诊人</div>
    </div>
    <div class="content">
      <div class="basic">
        <div class="icon"></div>
        <div class="basic-message">基本信息</div>
        <div class="red">(必填)</div>
      </div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">姓名</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="请输入姓名"
              v-model="patientName"
              v-on:blur="name()"
            />
            <div class="error-name" v-show="showNameError">请输入正确的姓名格式</div>
          </div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2"></div>
          <div class="name">身份证</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="请输入正确身份证号码"
              v-model="patientId"
              v-on:blur="nameId()"
            />
            <div class="error-nameId" v-show="showIdError">请输入正确的身份证格式</div>
          </div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">性别</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="性别根据身份证自动识别"
              v-model="patientGender"
              v-on:blur="gender()"
            />
            <div class="error-gender" v-show="showGenderError">请输入正确的性别</div>
          </div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">年龄</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="年龄根据身份证自动识别"
              v-model="patientAge"
              v-on:blur="age()"
            />
            <div class="error-age" v-show="showAgeError">请输入正确的年龄</div>
          </div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">手机号</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="请输入手机号"
              v-model="patientPhone"
              v-on:blur="phone()"
            />
            <div class="error-phone" v-show="showPhoneError">请输入正确的手机号格式</div>
          </div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
    </div>
    <div class="footer">
      <div class="cancel-btn" @click="returnPrevious">取消</div>
      <div class="confirm-btn" @click="preservation">确定</div>
    </div>
  </div>
</template>

<script>
import { nanoid } from 'nanoid'
export default {
  name: 'AddPatient',
  data () {
    return {
      patientName: '',
      patientId: '',
      patientGender: '',
      patientAge: '',
      patientPhone: '',
      showIdError: false,
      showNameError: false,
      showGenderError: false,
      showAgeError: false,
      showPhoneError: false
    }
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    preservation () {
      const patientItem = {
        id: nanoid(),
        name: this.patientName,
        IdCard: this.patientId,
        gender: this.patientGender,
        age: this.patientAge,
        phone: this.patientPhone
      }
      this.$store.dispatch('requestAddPatientList', patientItem)
      this.$router.go(-1)
    },
    nameId () {
      if (
        /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/.test(
          this.patientId
        )
      ) {
        this.showIdError = false
      } else {
        this.showIdError = true
      }
    },
    name () {
      if (/^[\u4e00-\u9fa5]{2,6}$/.test(this.patientName)) {
        this.showNameError = false
      } else {
        this.showNameError = true
      }
    },
    age () {
      if (/^((1[0-5])|[1-9])?\d$/.test(this.patientAge)) {
        this.showAgeError = false
      } else {
        this.showAgeError = true
      }
    },
    gender () {
      if (/^男$|^女&/.test(this.patientGender)) {
        this.showGenderError = false
      } else {
        this.showGenderError = true
      }
    },
    phone () {
      if (/^\d{11}$/.test(this.patientPhone)) {
        this.showPhoneError = false
      } else {
        this.showPhoneError = true
      }
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
}
.content {
  width: 100%;
  height: 90%;
}
.basic {
  display: flex;
  flex-direction: row;
}
.icon {
  width: 0.04rem;
  height: 19px;
  background-color: #51c569;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 17px;
}
.basic-message {
  font-size: 0.18rem;
  font-weight: bolder;
  margin-left: 0.03rem;
  margin-top: 14px;
}
.red {
  font-size: 0.18rem;
  color: #f76260;
  margin-top: 14px;
  margin-left: 0.1rem;
}
.message-box {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.separate {
  width: 3.45rem;
  height: 1px;
  background-color: #f4f4f4;
  margin-left: 0.15rem;
}
.left {
  display: flex;
  flex-direction: row;
}
.right {
  display: flex;
  flex-direction: row;
}
.icon2 {
  width: 0.08rem;
  font-size: 0.15rem;
  color: #f76260;
  margin-left: 0.09rem;
}
.name {
  font-size: 0.15rem;
  font-weight: 500;
}
.message {
  font-size: 0.15rem;
  color: #9c9c9c;
  font-weight: 400;
  margin-right: 0.13rem;
}
.message input {
  border: none;
  outline: none;
}
.push {
  font-size: 0.15rem;
  color: #9c9c9c;
  font-weight: 400;
  margin-right: 0.27rem;
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #f4f4f4;
}
.cancel-btn {
  width: 50%;
  height: 50px;
  position: fixed;
  bottom: 0%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  font-size: 0.18rem;
  color: #51c569;
  text-align: center;
  line-height: 50px;
}
.confirm-btn {
  width: 50%;
  height: 50px;
  position: fixed;
  bottom: 0%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  font-size: 0.18rem;
  color: #ffffff;
  background-color: #51c569;
  text-align: center;
  line-height: 50px;
  margin-left: 50%;
}
.error-name {
  color: red;
  font-size: 0.13rem;
}
.error-nameId {
  color: red;
  font-size: 0.13rem;
}
.error-gender {
  color: red;
  font-size: 0.13rem;
}
.error-age {
  color: red;
  font-size: 0.13rem;
}
.error-phone {
  color: red;
  font-size: 0.13rem;
}
</style>
