<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">健康档案</div>
    </div>
    <div class="content">
        <CaseList v-for="item in Archives" :key="item.id" :item="item"/>
    </div>
  </div>
</template>

<script>
import CaseList from '../components/CaseList.vue'
export default {
  name: 'Archives',
  components: {CaseList},
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    }
  },
  computed: {
    Archives () {
      return this.$store.state.Archives
    }
  },
  mounted () {
    this.$store.dispatch('utilGetArchives')
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  margin-top: 20px;
  height: 44px;
  line-height: 44px;
  padding: 10px;
  /* padding-bottom: 6px; */
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
  font-weight: bolder;
}
.content{
    height: 90%;
    background-color: #F6F6F6;
    padding-top: 6px;
}
</style>
