<template>
  <div class="container" ref="abc">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">编辑就诊人</div>
    </div>
    <div class="content">
      <div class="basic">
        <div class="icon"></div>
        <div class="basic-message">基本信息</div>
        <div class="red">(必填)</div>
      </div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">姓名</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="请输入姓名"
              v-model="patientItem.name"
              v-on:blur="name()"
            />
            <div class="error-name" v-show="showNameError">请输入正确的姓名格式</div>
          </div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2"></div>
          <div class="name">身份证</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="4251542424563232"
              v-model="patientItem.IdCard"
              v-on:blur="nameId()"
            />
          </div>
          <div class="error-nameId" v-show="showIdError">请输入正确的身份证格式</div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">性别</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="性别根据身份证自动识别"
              v-model="patientItem.gender"
              v-on:blur="gender()"
            />
          </div>
          <div class="error-gender" v-show="showGenderError">请输入正确的性别</div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">年龄</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="年龄根据身份证自动识别"
              v-model="patientItem.age"
              v-on:blur="age()"
            />
          </div>
          <div class="error-age" v-show="showAgeError">请输入正确的年龄</div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="message-box">
        <div class="left">
          <div class="icon2">*</div>
          <div class="name">手机号</div>
        </div>
        <div class="right">
          <div class="message">
            <input
              type="text"
              placeholder="请输入手机号"
              v-model="patientItem.phone"
              v-on:blur="phone()"
            />
          </div>
          <div class="error-phone" v-show="showPhoneError">请输入正确的手机号格式</div>
          <div class="push">></div>
        </div>
      </div>
      <div class="separate"></div>
      <div class="prompt">
        温馨提示
        <br /><br />
        1 就诊人姓名、证件信息用于平台审核，不会外传，请输入正确的
        就诊人姓名和证件号
        <br /><br />
        2 根据相关政策，现就诊人及监护人需要进行实名认证，请您及时
        认证，以便使用平台的服务功能
      </div>
    </div>
    <div class="footer">
      <div class="delete-btn" @click="deletepatient">删除</div>
      <div class="confirm-btn" @click="preservation">确定</div>
    </div>
    <div class="popUp" ref="popBox">
      <div class="delete-text">
        <div class="big-text">删除就诊人</div>
        <div class="little-text">确定删除就诊人信息?</div>
      </div>
      <div class="btn">
        <div class="cancel" @click="cancel">取消</div>
        <div class="confirm" @click="confirm($route.params.id)">确定</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EditPatient',
  data () {
    return {
      patientItem: {},
      showIdError: false,
      showNameError: false,
      showGenderError: false,
      showAgeError: false,
      showPhoneError: false
    }
  },
  computed: {
    MyPatientList () {
      return this.$store.state.MyPatientList
    }
  },
  mounted () {
    let list = this.MyPatientList.filter((item) => {
      return item.id === this.$route.params.id
    })
    this.patientItem = list[0]
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    preservation () {
      const patientItem = {
        id: this.$route.params.id,
        name: this.patientItem.name,
        IdCard: this.patientItem.IdCard,
        gender: this.patientItem.gender,
        age: this.patientItem.age,
        phone: this.patientItem.phone
      }
      this.$store.dispatch('requestUpdatePatientList', patientItem)
      this.$router.go(-1)
    },
    deletepatient () {
      this.$refs.abc.style.backgroundColor = 'rgba(0,0,0,0.5)'
      this.$refs.popBox.style.display = 'block'
    },
    cancel () {
      this.$refs.abc.style.backgroundColor = 'rgba(0,0,0,0)'
      this.$refs.popBox.style.display = 'none'
    },
    confirm (id) {
      this.$store.dispatch('requestDeletePatientList', id)
      this.$store.commit('SET_PATIENTLIST', [])
      this.$router.go(-1)
    },
    nameId () {
      if (
        /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/.test(
          this.patientItem.IdCard
        )
      ) {
        this.showIdError = false
      } else {
        this.showIdError = true
      }
    },
    name () {
      if (/^[\u4e00-\u9fa5]{2,6}$/.test(this.patientItem.name)) {
        this.showNameError = false
      } else {
        this.showNameError = true
      }
    },
    age () {
      if (/^((1[0-5])|[1-9])?\d$/.test(this.patientItem.age)) {
        this.showAgeError = false
      } else {
        this.showAgeError = true
      }
    },
    gender () {
      if (/^男$|^女&/.test(this.patientItem.gender)) {
        this.showGenderError = false
      } else {
        this.showGenderError = true
      }
    },
    phone () {
      if (/^\d{11}$/.test(this.patientItem.phone)) {
        this.showPhoneError = false
      } else {
        this.showPhoneError = true
      }
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
}
.content {
  width: 100%;
  height: 90%;
}
.basic {
  display: flex;
  flex-direction: row;
}
.icon {
  width: 0.04rem;
  height: 19px;
  background-color: #51c569;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 17px;
}
.basic-message {
  font-size: 0.18rem;
  font-weight: bolder;
  margin-left: 0.03rem;
  margin-top: 14px;
}
.red {
  font-size: 0.18rem;
  color: #f76260;
  margin-top: 14px;
  margin-left: 0.1rem;
}
.message-box {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.separate {
  width: 3.45rem;
  height: 1px;
  background-color: #f4f4f4;
  margin-left: 0.15rem;
}
.left {
  display: flex;
  flex-direction: row;
}
.right {
  display: flex;
  flex-direction: row;
}
.icon2 {
  width: 0.08rem;
  font-size: 0.15rem;
  color: #f76260;
  margin-left: 0.09rem;
}
.name {
  font-size: 0.15rem;
  font-weight: 500;
}
.message {
  font-size: 0.15rem;
  color: #9c9c9c;
  font-weight: 400;
  margin-right: 0.13rem;
}
.message input {
  float: left;
  border: none;
  outline: none;
  font-size: 0.15rem;
  margin-top: 2px;
}
.push {
  font-size: 0.15rem;
  color: #9c9c9c;
  font-weight: 400;
  margin-right: 0.27rem;
}
.prompt {
  width: 3.47rem;
  height: 116px;
  margin-left: 0.18rem;
  margin-top: 93px;
  font-size: 0.12rem;
  color: #999999;
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #f4f4f4;
}
.delete-btn {
  width: 50%;
  height: 50px;
  position: fixed;
  bottom: 0%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  font-size: 0.18rem;
  color: #f76260;
  text-align: center;
  line-height: 50px;
}
.confirm-btn {
  width: 50%;
  height: 50px;
  position: fixed;
  bottom: 0%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  font-size: 0.18rem;
  color: #ffffff;
  background-color: #51c569;
  text-align: center;
  line-height: 50px;
  margin-left: 50%;
}
.popUp {
  width: 2.8rem;
  height: 149px;
  position: absolute;
  top: 260px;
  left: 0.48rem;
  background-color: #ffffff;
  opacity: 1;
  display: none;
  z-index: 10;
}
.delete-text {
  height: 98px;
  border-bottom: 1px solid #d2d3d5;
}
.big-text {
  font-size: 0.18rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 0.95rem;
}
.little-text {
  font-size: 0.15rem;
  color: #999999;
  text-align: center;
  margin-top: 9px;
  position: absolute;
  top: 54px;
  left: 0.7rem;
}
.btn {
  height: 50px;
  display: flex;
  flex-direction: row;
}
.cancel {
  font-size: 0.18rem;
  font-weight: bold;
  text-align: center;
  width: 50%;
  line-height: 50px;
  border-right: 1px solid #d2d3d5;
}
.confirm {
  font-size: 0.18rem;
  font-weight: bold;
  text-align: center;
  width: 50%;
  color: #51c569;
  line-height: 50px;
}
.error-name {
  color: red;
  font-size: 0.13rem;
}
.error-nameId {
  color: red;
  font-size: 0.13rem;
}
.error-gender {
  color: red;
  font-size: 0.13rem;
}
.error-age {
  color: red;
  font-size: 0.13rem;
}
.error-phone {
  color: red;
  font-size: 0.13rem;
}
</style>
