<template>
  <div class="container">
    <div class="first-title">在线问诊平台</div>
    <div class="sub-title">明医明诊互联网医院</div>
    <div class="logo"></div>
    <div class="getInto">
      <div class="btn" @click="pushHome">进入</div>
    </div>
    <div class="footer">大医生医疗股份有限公司</div>
  </div>
</template>

<script>
export default {
  name: 'GetInto',
  methods: {
    pushHome () {
      this.$router.push({
        name: 'Home'
      })
    }
  }
}
</script>

<style scoped>
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: 100%;
  padding-top: 98px;
}
.first-title {
  font-size: 0.33rem;
  text-align: center;
  font-weight: bolder;
}
.sub-title {
  margin-top: 13px;
  font-size: 0.17rem;
  text-align: center;
  color: #666666;
}
.logo {
  background-image: url("../assets/getIntoLogo.png");
  width: 3.14rem;
  height: 3.14rem;
  margin: 0 auto;
  background-size: 100%;
}
.getInto {
  margin-top: 45px;
}
.btn {
  width: 1.54rem;
  font-size: 0.19rem;
  height: 40px;
  line-height: 40px;
  background-color: #51c569;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  border-radius: 24px;
}
.footer {
  margin-top: 15px;
  font-size: 0.14rem;
  text-align: center;
  color: #666666;
}
</style>
