<template>
  <div class="container">
    <div class="title">大医生</div>
    <div class="rotation-img">
      <!-- <el-carousel height="151px">
        <el-carousel-item trigger="click" v-for="item in imgList" :key="item">
        <div class="coupon">优惠券</div>
        <img :src="item.img"/>
        </el-carousel-item>
      </el-carousel> -->
    </div>
    <div class="doctor" v-for="item in doctorData" :key="item.id">
      <div class="separate"></div>
      <div class="doctor-img">
          <img :src='item.img'>
        <div class="red-icon"></div>
      </div>
      <div class="message">
        <div class="doctor-name">
          <div class="name">{{ item.name }}</div>
          <div class="lev">{{ item.lev }}</div>
          <div class="consult">立即咨询</div>
        </div>
        <div class="hospital">{{ item.hospital }}</div>
        <div class="state">
          <div class="green-icon"></div>
          <div class="doctor-state">医生状态：在线</div>
        </div>
        <div class="news">
          <div class="news-icon"></div>
          <div class="news-text">没什么大问题，放心过几天就好了。</div>
        </div>
      </div>
    </div>
    <Drugs />
    <div class="box1"></div>
    <PopularizationOfScience />
    <div class="footer">
      <div class="btn-box">
        <div class="service">
          <div class="point"></div>
          <div class="service-icon"></div>
          <div class="service-content">服务</div>
        </div>
        <div class="mine" @click="pushMine">
          <div class="mine-icon"></div>
          <div class="content">我的</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Drugs from '../components/Drugs.vue'
import PopularizationOfScience from '../components/PopularizationOfScience.vue'
export default {
  name: 'Home',
  components: { Drugs, PopularizationOfScience },
  data () {
    return {
      imgList: [
        { img: require('@/assets/轮播图.png') },
        { img: require('@/assets/轮播图.png') },
        { img: require('@/assets/轮播图.png') }
      ],
      index: 0
    }
  },
  methods: {
    pushMine () {
      this.$router.push({
        name: 'Mine'
      })
    }
  },
  computed: {
    doctorData () {
      return this.$store.state.doctorData
    }
  },
  mounted () {
    this.$store.dispatch('utilGetDoctorData')
  }
}
</script>

<style scoped>
.container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
.title {
  font-size: 0.18rem;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}
.rotation-img {
  width: 3.58rem;
  height: 151px;
  margin-top: 11px;
  background-image: url("../assets/轮播图.png");
  background-size: 100%;
}
.el-carousel__item:nth-child(2n) {
  width: 3.58rem;
  height: 151px;
  background-image: url("../assets/轮播图.png");
  background-size: 100%;
}
.el-carousel__item:nth-child(2n + 1) {
  width: 3.58rem;
  height: 151px;
  background-image: url("../assets/轮播图.png");
  background-size: 100%;
}
.rotation-img img {
  width: 3.58rem;
  height: 151px;
}
.coupon {
  width: 0.6rem;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 0.12rem;
  background-color: #fff4ed;
  color: #fd6b1a;
  border-radius: 78px;
  margin-left: 0.07rem;
  margin-top: 11px;
}
.doctor {
  margin-top: 36px;
  width: 3.55rem;
  height: 132px;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}
.doctor img{
  background-size: 100%;
  width: 100%;
  height: 100%;
  float: left;
}
.separate {
  width: 0.04rem;
  height: 90px;
  background-color: #51c569;
  margin-top: 21px;
}
.doctor-img {
  width: 0.83rem;
  height: 79px;
  margin-left: 0.3rem;
  margin-top: 26px;
}
.red-icon {
  width: 0.12rem;
  height: 0.12rem;
  background-image: url("../assets/小红点.png");
  background-size: 100%;
  position: absolute;
  left: 1.15rem;
}
.message {
  margin-left: 16px;
}
.doctor-name {
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 0.16rem;
  font-weight: bold;
  color: #000000;
  margin-top: 25px;
}
.lev {
  font-size: 0.16rem;
  font-weight: bold;
  color: #000000;
  margin-left: 0.05rem;
  margin-top: 25px;
}
.consult {
  width: 0.75rem;
  height: 20px;
  font-size: 0.13rem;
  color: #ffffff;
  background-color: #51c569;
  border-radius: 10px;
  margin-left: 0.09rem;
  margin-top: 26px;
  text-align: center;
  line-height: 20px;
}
.hospital {
  font-size: 0.12rem;
  font-weight: bold;
  color: #000000;
}
.state {
  display: flex;
  flex-direction: row;
}
.green-icon {
  width: 0.08rem;
  height: 0.08rem;
  background-image: url("../assets/小绿点.png");
  background-size: 100%;
  margin-top: 14px;
}
.doctor-state {
  font-size: 0.11rem;
  font-weight: bold;
  color: #000000;
  margin-left: 0.06rem;
  margin-top: 10px;
}
.news {
  display: flex;
  flex-direction: row;
}
.news-icon {
  width: 0.1rem;
  height: 0.09rem;
  background-image: url("../assets/信息icon.png");
  background-size: 100%;
  margin-top: 8px;
}
.news-text {
  font-size: 0.11rem;
  font-weight: 400;
  margin-left: 0.04rem;
  margin-top: 4px;
}
.box1 {
  width: 100%;
  height: 5px;
  background-color: #f4f4f4;
}
.footer {
  width: 100%;
  /* height: 49px; */
}
.btn-box {
  width: 100%;
  height: 49px;
  position: fixed;
  bottom: 0%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.service {
  margin-top: 7px;
}
.point {
  background-color: #ff5c5c;
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 12px;
  float: right;
  margin-top: -3px;
}
.mine {
  margin-top: 7px;
}
.service-icon {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url("../assets/四叶草.png");
  background-size: 100%;
}
.mine-icon {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url("../assets/我的.png");
  background-size: 100%;
}
.content {
  font-size: 0.1rem;
}
.service-content {
  font-size: 0.1rem;
  color: #51c569;
}
</style>
