<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">健康宣教</div>
    </div>
    <div class="search">
      <div class="input-box">
        <input type="text" placeholder="搜索宣教" v-model="keyWord" />
      </div>
      <div class="cancel">取消</div>
    </div>
    <div class="classification">
      <div
        :class="
          selectedTap === 'default'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showWhole"
      >
        全部
      </div>
      <div
        :class="
          selectedTap === 'tabOne'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification1"
      >
        糖尿病
      </div>
      <div
        :class="
          selectedTap === 'tabTwo'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification2"
      >
        高血压
      </div>
      <div
        :class="
          selectedTap === 'tabThree'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification3"
      >
        慢阻肺
      </div>
      <div
        :class="
          selectedTap === 'tabFour'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification4"
      >
        男科
      </div>
      <div
        :class="
          selectedTap === 'tabFive'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification5"
      >
        妇科
      </div>
    </div>
    <div class="content">
      <KnowledgeList
        v-show="selectedTap === 'default'"
        v-for="item in MyTangNingTongLuo"
        :key="item.id"
        :item="item"
      />
      <TangNingTongLuo
        v-show="selectedTap === 'tabOne'"
        v-for="item in MyTangNingTongLuo"
        :key="item.id"
        :item="item"
      />
      <TangNingTongLuo
        v-show="selectedTap === 'tabTwo'"
        v-for="item in MyTangNiaoBing"
        :key="item.id"
        :item="item"
      />
      <TangNiaoBing
        v-show="selectedTap === 'tabThree'"
        v-for="item in MyJiangTangYaoFenLei"
        :key="item.id"
        :item="item"
      />
      <TangNiaoBingZhuYi
        v-show="selectedTap === 'tabFour'"
        v-for="item in MyTangNiaoBingZhuYi"
        :key="item.id"
        :item="item"
      />
      <TangNingTongLuo
        v-show="selectedTap === 'tabFive'"
        v-for="item in MyTangNingTongLuo"
        :key="item.id"
        :item="item"
      />
    </div>
  </div>
</template>

<script>
import KnowledgeList from '../components/KnowledgeList.vue'
import TangNingTongLuo from '../components/TangNingTongLuo.vue'
import TangNiaoBing from '../components/TangNiaoBing.vue'
import JiangTangYaoFenLei from '../components/JiangTangYaoFenLei.vue'
import TangNiaoBingZhuYi from '../components/TangNiaoBingZhuYi.vue'
export default {
  name: 'Knowledge',
  components: {
    KnowledgeList,
    TangNingTongLuo,
    TangNiaoBing,
    JiangTangYaoFenLei,
    TangNiaoBingZhuYi
  },
  data () {
    return {
      selectedTap: 'default',
      keyWord: ''
    }
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    showWhole () {
      this.selectedTap = 'default'
    },
    showClassification1 () {
      this.selectedTap = 'tabOne'
    },
    showClassification2 () {
      this.selectedTap = 'tabTwo'
    },
    showClassification3 () {
      this.selectedTap = 'tabThree'
    },
    showClassification4 () {
      this.selectedTap = 'tabFour'
    },
    showClassification5 () {
      this.selectedTap = 'tabFive'
    }
  },
  computed: {
    MyTangNingTongLuo () {
      return this.$store.state.tangNingTongLuo
    },
    MyTangNiaoBing () {
      return this.$store.state.tangNiaoBing
    },
    MyJiangTangYaoFenLei () {
      return this.$store.state.jiangTangYaoFenLei
    },
    MyTangNiaoBingZhuYi () {
      return this.$store.state.tangNiaoBingZhuYi
    },
    filKnowledge () {
      return 1
    }
  },
  mounted () {
    this.$store.dispatch('utilGetTangNingTongLuo')
    this.$store.dispatch('utilGetTangNiaoBing')
    this.$store.dispatch('utilGetJiangTangYaoFenLei')
    this.$store.dispatch('utilGetTangNiaoBingZhuYi')
  }
}
</script>

<style scoped>
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.top {
  margin-top: 20px;
  height: 44px;
  width: 100%;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  top: 34px;
}
.title {
  font-size: 0.18rem;
  font-weight: bolder;
}
.search {
  margin-top: 11px;
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0.1rem;
}
.input-box {
  width: 3.21rem;
  height: 32px;
  border-radius: 16px;
  background-color: #f2f2f2;
}
.input-box input {
  float: left;
  width: 3rem;
  height: 32px;
  border: none;
  outline: none;
  margin-left: 0.2rem;
  background-color: transparent;
}
.cancel {
  font-size: 0.12rem;
  line-height: 32px;
  color: #999999;
  margin-left: 0.09rem;
}
.classification {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  color: #333333;
  padding: 0 20px;
}
.whole {
  font-size: 0.16rem;
}
.classification1 {
  font-size: 0.16rem;
}
.classification1.active {
  color: #51c569;
  border-bottom: 3px solid #51c569;
}
</style>
