<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">病历详情</div>
    </div>
    <div class="logo" v-for="item in MedicalRecord" :key="item.id">
      <div class="background">
        <img :src='item.backgroundImg'>
      </div>
      <div class="name-card">
        <img :src='item.nameCardImg'>
        <div class="patient">
          <span class="now">当前就诊人</span>
          <span class="switch">切换就诊人</span>
        </div>
        <div class="message">
          <span class="name">张三</span>
          <span class="gender">男</span>
          <span class="age">30岁</span>
        </div>
        <div class="message2">
          <span class="userName">姓名</span>
          <span class="userGender">性别</span>
          <span class="userAge">年龄</span>
        </div>
      </div>
    </div>
    <div class="consulting-room">
      <span class="consultingRoom">就诊科室</span>
      <span class="Archives">内科</span>
    </div>
    <div class="separate"></div>
    <div class="little-title">主诉/现病史</div>
    <div class="little-content">高血压</div>
    <div class="little-title">既往病史</div>
    <div class="little-content">未填写</div>
    <div class="little-title">诊断结果</div>
    <div class="icon">*</div>
    <div class="little-content">高血压</div>
    <div class="little-title">医嘱小结</div>
    <div class="little-content">高血压</div>
    <div class="little-title">病历图片</div>
    <div class="little-img"></div>
    <div class="separate2"></div>
    <div class="footer-box">
      <span class="footer-title">医生</span>
      <span class="footer-content">王终将</span>
    </div>
    <div class="separate3"></div>
    <div class="footer-box">
      <span class="footer-title">医院</span>
      <span class="footer-content">金科医疗门诊</span>
    </div>
    <div class="separate3"></div>
    <div class="footer-box">
      <span class="footer-title">创建</span>
      <span class="footer-content">2021-01-12</span>
    </div>
    <div class="footer-btn">
      <button class="ask-doctor">咨询医生</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MedicalRecord',
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    }
  },
  computed: {
    MedicalRecord () {
      console.warn(this.$store.state.MedicalRecord)
      return this.$store.state.MedicalRecord
    }
  },
  mounted () {
    console.log(this.MedicalRecord)
    this.$store.dispatch('utilGetMedicalRecord')
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
  font-weight: bolder;
}
.logo {
  height: 148px;
}
.background {
  width: 100%;
  height: 113px;
}
.background img{
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.name-card {
  width: 100%;
  height: 124px;
  background-size: 100%;
  position: absolute;
  top: 86px;
}
.name-card img{
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.now {
  float: left;
  font-size: 0.15rem;
  font-weight: bolder;
  margin-left: 0.21rem;
  margin-top: 14px;
}
.switch {
  float: right;
  font-size: 0.12rem;
  font-weight: 400;
  color: #fd6b1a;
  margin-right: 0.36rem;
  margin-top: 17px;
}
.name {
  float: left;
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 53px;
  margin-left: -0.42rem;
}
.gender {
  float: left;
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 53px;
  margin-left: 0.88rem;
}
.age {
  float: right;
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 20px;
  margin-right: 0.48rem;
}
.userName {
  float: left;
  font-size: 0.12rem;
  font-weight: 400;
  color: #666666;
  margin-left: 0.62rem;
}
.userGender {
  float: left;
  font-size: 0.12rem;
  font-weight: 400;
  color: #666666;
  margin-left: 0.91rem;
}
.userAge {
  float: left;
  font-size: 0.12rem;
  font-weight: 400;
  color: #666666;
  margin-left: 0.97rem;
}
.message2 {
  position: absolute;
  margin-top: 77px;
}
.consultingRoom {
  margin-top: 3px;
  float: left;
  font-size: 0.15rem;
  font-weight: bolder;
  color: #000000;
  margin-left: 16px;
}
.Archives {
  margin-top: 4px;
  float: left;
  font-weight: 400;
  color: #999999;
  font-size: 0.14rem;
  margin-left: 24px;
}
.separate {
  width: 3.74rem;
  height: 4px;
  background: rgba(246, 246, 246, 0.39);
  margin-top: 35px;
}
.little-title {
  font-size: 0.15rem;
  margin-top: 11px;
  margin-left: 15px;
  font-weight: bolder;
  color: #000000;
}
.little-content {
  font-size: 0.14rem;
  margin-top: 6px;
  margin-left: 15px;
  font-weight: 400;
  color: #999999;
}
.icon {
  font-size: 0.15rem;
  font-weight: 500;
  color: #f76260;
  position: absolute;
  left: 0.77rem;
  top: 374px;
}
.little-img {
  margin-top: 6px;
  margin-left: 15px;
  width: 0.65rem;
  height: 65px;
  background-color: pink;
}
.separate2 {
  width: 3.74rem;
  height: 4px;
  background: rgba(246, 246, 246, 0.39);
  margin-top: 26px;
}
.footer-box {
  width: 100%;
  height: 50px;
}
.footer-title {
  float: left;
  font-size: 0.15rem;
  font-weight: bolder;
  color: #000000;
  margin-left: 0.16rem;
  margin-top: 16px;
}
.footer-content {
  float: left;
  font-size: 0.14rem;
  font-weight: 500;
  color: #999999;
  margin-left: 0.54rem;
  margin-top: 17px;
}
.separate3 {
  width: 3.45rem;
  height: 1px;
  border: 1px;
  background-color: #f4f4f4;
  margin-left: 0.15rem;
}
.footer-btn {
  width: 100%;
  height: 50px;
  margin-top: 11px;
  display: flex;
  justify-content: space-around;
}
.ask-doctor {
  width: 3.47rem;
  height: 40px;
  background: #51c569;
  box-shadow: 0px 2px 4px rgba(81, 197, 105, 0.4);
  border-radius: 24px;
  border: none;
  position: fixed;
  bottom: 0%;
  font-size: 0.18rem;
  color: #ffffff;
}
</style>
