<template>
  <div class="container">
    <div class="title">我的</div>
    <div class="user">
      <div class="head">
        <div class="head-img"></div>
        <div class="userName">张迎生</div>
      </div>
      <div class="archives-img" @click="pushArchives"></div>
    </div>
    <div class="function" @click="pushMyDoctor">
      <div class="left">
        <div class="doctor-icon"></div>
        <div class="functionList">我的医生</div>
      </div>
      <div class="Jump">></div>
    </div>
    <div class="function" @click="pushMyPatient">
      <div class="left1">
        <div class="user-icon"></div>
        <div class="functionList">我的就诊人</div>
      </div>
      <div class="Jump">></div>
    </div>
    <div class="function" @click="pushMyDrugs">
      <div class="left2">
        <div class="drugs-icon"></div>
        <div class="functionList">我的药品订单</div>
      </div>
      <div class="Jump">></div>
    </div>
    <div class="function" @click="pushMyService">
      <div class="left2">
        <div class="service-img"></div>
        <div class="functionList">我的服务订单</div>
      </div>
      <div class="Jump">></div>
    </div>
    <div class="function" @click="pushMyAddress">
      <div class="left">
        <div class="address-icon"></div>
        <div class="functionList">我的地址</div>
      </div>
      <div class="Jump">></div>
    </div>
    <div class="footer">
      <div class="service" @click="pushServie">
        <div class="service-icon"></div>
        <div class="content">服务</div>
      </div>
      <div class="mine">
        <div class="mine-icon"></div>
        <div class="mine-content">我的</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Mine',
  methods: {
    pushServie () {
      this.$router.push({
        name: 'Home'
      })
    },
    pushArchives () {
      this.$router.push({
        name: 'Archives'
      })
    },
    pushMyDoctor () {
      this.$router.push({
        name: 'MyDoctor'
      })
    },
    pushMyPatient () {
      this.$router.push({
        name: 'MyPatient'
      })
    },
    pushMyService () {
      this.$router.push({
        name: 'MyService'
      })
    },
    pushMyDrugs () {
      this.$router.push({
        name: 'MyDrugs'
      })
    },
    pushMyAddress () {
      this.$router.push({
        name: 'MyAddress'
      })
    }
  }
}
</script>

<style scoped>
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.title {
  font-size: 0.18rem;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
  border-bottom: 2px solid #ddd;
}
.user {
  box-sizing: border-box;
  padding: 10px;
}
.head {
  width: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.head-img {
  width: 0.53rem;
  height: 0.53rem;
  background-image: url("../assets/头像@2x.png");
  background-size: 100%;
}
.userName {
  font-size: 0.19rem;
  line-height: 0.53rem;
}
.archives-img {
  margin-top: 16px;
  width: 3.55rem;
  height: 93px;
  background-image: url("../assets/健康档案.png");
  background-size: 100%;
}
.function {
  margin-top: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}
.left {
  margin-left: 1px;
  width: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.left1 {
  margin-left: 1px;
  width: 1.04rem;
  display: flex;
  justify-content: space-between;
}
.left2 {
  margin-left: 1px;
  width: 1.18rem;
  display: flex;
  justify-content: space-between;
}
.doctor-icon {
  width: 0.22rem;
  height: 0.22rem;
  background-image: url("../assets/医生.png");
  background-size: 100%;
}
.functionList {
  font-size: 0.14rem;
  color: #454545;
}
.Jump {
  font-size: 0.14rem;
  color: #454545;
  width: 0.15rem;
}
.user-icon {
  width: 0.22rem;
  height: 0.22rem;
  background-image: url("../assets/就诊人.png");
  background-size: 100%;
}
.drugs-icon {
  width: 0.22rem;
  height: 0.22rem;
  background-image: url("../assets/药品订单.png");
  background-size: 100%;
}
.service-img {
  width: 0.22rem;
  height: 0.22rem;
  background-image: url("../assets/服务订单.png");
  background-size: 100%;
}
.address-icon {
  width: 0.22rem;
  height: 0.22rem;
  background-image: url("../assets/地址.png");
  background-size: 100%;
}
.footer {
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  position: fixed;
  bottom: 0%;
}
.service {
  margin-top: 7px;
}
.mine {
  margin-top: 7px;
}
.service-icon {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url("../assets/灰色服务.png");
  background-size: 100%;
}
.mine-icon {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url("../assets/我的页面.png");
  background-size: 100%;
}
.content {
  font-size: 0.1rem;
}
.mine-content {
  font-size: 0.1rem;
  color: #51c569;
}
</style>
