<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">我的地址</div>
    </div>
    <div class="content" >
        <AddressList v-for="item in MyAddressList" :key="item.id" :item="item"/>
    </div>
    <div class="footer-btn">
      <button class="add-address" @click="pushAddAddress">新增地址</button>
    </div>
  </div>
</template>

<script scoped>
import AddressList from '../components/AddressList'
export default {
  name: 'MyAddress',
  components: {AddressList},
  computed: {
    MyAddressList () {
      return this.$store.state.MyAddressList
    }
  },
  mounted () {
    this.$store.dispatch('requestGetAddressList')
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    pushAddAddress () {
      this.$router.push({
        name: 'AddAddress'
      })
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
  font-weight: bolder;
}
.content {
  width: 100%;
  height: 90%;
  background-color: #f6f6f6;
  padding-top: 8px;
}
.footer-btn {
  width: 100%;
  height: 50px;
  margin-top: 11px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0%;
}
.add-address {
  width: 3.47rem;
  height: 40px;
  background: #51c569;
  box-shadow: 0px 2px 4px rgba(81, 197, 105, 0.4);
  border-radius: 24px;
  border: none;
  font-size: 0.18rem;
  color: #ffffff;
}
</style>
