<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">医生详情</div>
    </div>
    <div class="main" v-for="item in doctorData" :key="item.id">
      <div class="doctor">
        <div class="header-img">
          <img :src='item.headerImg'>
        </div>
        <div class="doctor-text">
          <div class="text-top">
            <div class="doctor-name">{{item.name}}</div>
            <div class="lev">内科｜主任</div>
          </div>
          <div class="text-footer">{{item.hospital}}</div>
        </div>
      </div>
      <div class="ask-service">
        <div class="ask-top">
          <div class="ask-img"></div>
          <div class="ask">咨询服务</div>
        </div>
        <div class="service">
          <span class="service-title">服务价格：</span>
          <span class="service-text1">{{item.price}}</span>
        </div>
        <div class="service">
          <span class="service-title">服务说明：</span>
          <span class="service-text">{{item.serviceText}}</span>
        </div>
        <div class="service">
          <span class="service-title">服务时间：</span>
          <span class="service-text">{{item.serviceTime}}</span>
        </div>
      </div>
    </div>
    <div class="content-box" v-for="item in doctorData" :key="item.id">
      <div class="nameCard">
        <div class="card-top">
          <div class="card-icon"></div>
          <div class="card-title">医生名片</div>
        </div>
        <div class="img-box"><img :src='item.cardImg'></div>
        <div class="card-text">
          扫描医生二维码名片，签约家庭医生 （长按二维码名片下载发送给好友）
        </div>
      </div>
      <div class="introduce">
        <div class="introduce-box">
          <div class="introduce-img"></div>
          <div class="introduce-title">擅长</div>
        </div>
        <div class="introduce-text">
          {{item.introduceText}}
        </div>
        <div class="introduce-box">
          <div class="introduce-img2"></div>
          <div class="introduce-title2">简介</div>
        </div>
        <div class="introduce-text2">
          {{item.introduceText2}}
        </div>
      </div>
        <div class="btn-box">
          <button class="ask-btn">咨询医生</button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MyDoctor',
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    }
  },
  computed: {
    doctorData () {
      return this.$store.state.doctorData
    }
  },
  mounted () {
    this.$store.dispatch('utilGetDoctorData')
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
  font-weight: bolder;
}
.main {
  width: 100%;
  height: 196px;
}
.doctor {
  height: 47px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.header-img {
  width: 0.34rem;
  height: 0.34rem;
}
.header-img img{
  width: 100%;
  height: 100%;
  background-size: 100%;
  float: left;
}
.doctor-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.24rem;
}
.text-top {
  display: flex;
  flex-direction: row;
}
.doctor-name {
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 3px;
}
.lev {
  width: 0.65rem;
  height: 18px;
  font-size: 0.1rem;
  color: #ffffff;
  background-color: #51c569;
  border-radius: 11px;
  margin-top: 5px;
  margin-left: 0.16rem;
  text-align: center;
}
.text-footer {
  font-size: 0.13rem;
  font-weight: 500;
  color: #999999;
  margin-top: 4px;
}
.ask-service {
  width: 3.55rem;
  height: 114px;
  box-shadow: 0px 0px 3px rgba(95, 95, 95, 0.16);
  border-radius: 6px;
  margin-left: 0.08rem;
  display: flex;
  flex-direction: column;
}
.ask-top {
  width: 0.97rem;
  height: 20px;
  display: flex;
  justify-content: space-betweene;
  margin-bottom: 9px;
  margin-top: 10px;
}
.ask-img {
  width: 0.19rem;
  height: 0.19rem;
  margin-left: 0.13rem;
  background-color: #51c569;
  border-radius: 0.19rem;
}
.ask {
  font-size: 0.14rem;
  color: #51c569;
  margin-left: 6px;
}
.service-title {
  float: left;
  font-size: 0.14rem;
  font-weight: bolder;
  margin-left: 0.13rem;
  margin-bottom: 2px;
}
.service-text {
  float: left;
  font-size: 0.14rem;
  font-weight: 400;
  color: #666666;
  margin-left: 0.07rem;
}
.service-text1 {
  float: left;
  font-size: 0.14rem;
  font-weight: 400;
  color: #f76260;
  margin-left: 0.07rem;
}
.content-box {
  width: 100%;
  height: 503px;
  background-image: url("../assets/医生背景.png");
  background-size: 100%;
  padding-top: 6px;
}
.nameCard {
  margin-left: 10px;
  background: #ffffff;
  width: 3.55rem;
  height: 203px;
  border-radius: 4px;
}
.card-top {
  display: flex;
  flex-direction: row;
}
.card-icon {
  background-image: url("../assets/名片icon.png");
  width: 0.14rem;
  height: 14px;
  background-size: 100%;
  margin-left: 6px;
  margin-top: 9px;
}
.card-title {
  font-size: 0.15rem;
  font-weight: bolder;
  margin-left: 3px;
  margin-top: 7px;
}
.img-box {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.img-box img{
  background-size: 100%;
  width: 1.1rem;
  height: 1.1rem;
}
.card-text {
  font-size: 0.12rem;
  color: #999999;
  font-weight: 500;
  margin-top: 13px;
  width: 2.14rem;
  margin-left: 0.71rem;
}
.introduce {
  width: 3.55rem;
  height: 239px;
  margin-top: 5px;
  margin-left: 10px;
  background: #ffffff;
  border-radius: 4px;
}
.introduce-box {
  margin-left: 0.05rem;
  display: flex;
  flex-direction: row;
}
.introduce-img {
  width: 0.14rem;
  height: 0.14rem;
  background-image: url("../assets/擅长icon.png");
  background-size: 100%;
  margin-top: 12px;
}
.introduce-img2 {
  width: 0.14rem;
  height: 0.14rem;
  background-image: url("../assets/介绍icon.png");
  background-size: 100%;
  margin-top: 24px;
}
.introduce-title {
  margin-left: 3px;
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 9px;
}
.introduce-title2 {
  margin-left: 3px;
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 21px;
}
.introduce-text {
  width: 3.18rem;
  font-size: 0.13rem;
  color: #666666;
  margin-left: 0.22rem;
  margin-top: 10px;
}
.introduce-text2 {
  width: 3.18rem;
  font-size: 0.13rem;
  color: #666666;
  margin-left: 0.22rem;
  margin-top: 12px;
}
.btn-box {
  height: 49px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}
.ask-btn {
  width: 3.47rem;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(81, 197, 105, 0.4);
  border-radius: 24px;
  background-color: #51c569;
  border: none;
  position: fixed;
  bottom: 0%;
  font-size: 0.18rem;
  color: #ffffff;
  margin-top: 4px;
}
</style>
