<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">我的就诊人</div>
    </div>
    <PatientList v-for="item in MyPatientList" :key="item.id" :item="item"/>
    <div class="footer-btn">
      <button class="add-patient" @click="pushAddPatient">添加就诊人</button>
    </div>
  </div>
</template>

<script>
import PatientList from '../components/PatientList.vue'
export default {
  name: 'MyPatient',
  components: { PatientList },
  computed: {
    MyPatientList () {
      return this.$store.state.MyPatientList
    }
  },
  mounted () {
    this.$store.dispatch('requestGetPatientList')
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    pushAddPatient () {
      this.$router.push({
        name: 'AddPatient'
      })
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
}
.footer-btn {
  width: 100%;
  height: 50px;
  margin-top: 11px;
  display: flex;
  justify-content: space-around;
}
.add-patient {
  width: 3.47rem;
  height: 40px;
  background: #51c569;
  box-shadow: 0px 2px 4px rgba(81, 197, 105, 0.4);
  border-radius: 24px;
  border: none;
  position: fixed;
  bottom: 0%;
  font-size: 0.18rem;
  color: #ffffff;
}
</style>
