<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">我的服务订单</div>
    </div>
    <div class="content">
        <ServiceList v-for="item in Service" :key="item.id" :item="item"/>
    </div>
  </div>
</template>

<script>
import ServiceList from '../components/ServiceList'
export default {
  name: 'MyService',
  components: {ServiceList},
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    }
  },
  computed: {
    Service () {
      return this.$store.state.Service
    }
  },
  mounted () {
    this.$store.dispatch('utilGetService')
  }
}
</script>

<style>
.container {
  width: 100%;
  height: 100%;
}
.top {
  height: 44px;
  line-height: 44px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  margin-top: 15px;
}
.title {
  font-size: 0.18rem;
  text-align: center;
  font-weight: bolder;
}
.content{
    width: 100%;
    height: 90%;
    background-color: #F6F6F6;
    padding-top: 11px;
}
</style>
