<template>
  <div class="container">
    <div class="top">
      <div class="return" @click="returnPrevious"></div>
      <div class="title">全部药品</div>
    </div>
    <div class="search">
      <div class="input-box">
        <input type="text" placeholder="输入药品关键词进行查询" v-model="keyWord"/>
      </div>
      <div class="cancel">取消</div>
    </div>
    <div class="classification">
      <div
        :class="
          selectedTap === 'default'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showWhole"
      >
        全部
      </div>
      <div
        :class="
          selectedTap === 'tabOne'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification1"
      >
        药品分类1
      </div>
      <div
        :class="
          selectedTap === 'tabTwo'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification2"
      >
        药品分类2
      </div>
      <div
        :class="
          selectedTap === 'tabThree'
            ? 'classification1 active'
            : 'classification1'
        "
        @click="showClassification3"
      >
        药品分类3
      </div>
    </div>
    <div class="content">
      <div v-show="selectedTap === 'default'">
        <DrugsList v-for="item in filDrugs" :key="item.id" :item="item"/>
      </div>
      <div v-show="selectedTap === 'tabOne'">
        <DrugsList v-for="item in filDrugs" :key="item.id" :item="item"/>
      </div>

      <div v-show="selectedTap === 'tabTwo'">
        <DrugsList v-for="item in filDrugs" :key="item.id" :item="item"/>
      </div>

      <div v-show="selectedTap === 'tabThree'">
        <DrugsList v-for="item in filDrugs" :key="item.id" :item="item"/>
      </div>
    </div>
  </div>
</template>

<script>
import DrugsList from '../components/DrugsList.vue'
export default {
  name: 'Selected',
  components: { DrugsList },
  data () {
    return {
      selectedTap: 'default',
      keyWord: ''
    }
  },
  methods: {
    returnPrevious () {
      this.$router.go(-1)
    },
    showWhole () {
      this.selectedTap = 'default'
    },
    showClassification1 () {
      this.selectedTap = 'tabOne'
    },
    showClassification2 () {
      this.selectedTap = 'tabTwo'
    },
    showClassification3 () {
      this.selectedTap = 'tabThree'
    }
  },
  computed: {
    drugsData () {
      return this.$store.state.drugsData
    },
    filDrugs () {
      console.warn(this.keyWord, this.drugsData)
      if (this.keyWord !== '') {
        return this.drugsData.filter((item) => {
          return item.title.indexOf(this.keyWord) !== -1
        })
      } else {
        return this.drugsData
      }
    }
  },
  watch: {
    keyWord (val) {
      console.log('keyWord被改了', val)
    }
  },
  mounted () {
    console.log(this.drugsData)
    this.$store.dispatch('utilGetDrugsData')
  }
}
</script>

<style scoped>
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.top {
  margin-top: 20px;
  height: 44px;
  width: 100%;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}
.return {
  width: 0.1rem;
  height: 0.18rem;
  background-image: url("../assets/返回.png");
  background-size: 100%;
  position: absolute;
  left: 0.15rem;
  top: 34px;
}
.title {
  font-size: 0.18rem;
  font-weight: bolder;
}
.search {
  margin-top: 11px;
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0.1rem;
}
.input-box {
  width: 3.21rem;
  height: 32px;
  border-radius: 16px;
  background-color: #f2f2f2;
}
.input-box input {
  float: left;
  width: 3rem;
  height: 32px;
  border: none;
  outline: none;
  margin-left: 0.2rem;
  background-color: transparent;
}
.cancel {
  font-size: 0.12rem;
  line-height: 32px;
  color: #999999;
  margin-left: 0.09rem;
}
.classification {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  margin-left: 0.2rem;
}
.whole {
  font-size: 0.16rem;
}
.whole:active {
  color: #51c569;
}
.classification1 {
  font-size: 0.16rem;
  height: 30px;
}
.classification1.active {
  color: #51c569;
  border-bottom: 3px solid #51c569;
}
.content {
  background-color: #f6f6f6;
  height: 615px;
  padding: 10px;
  box-sizing: border-box;
}
</style>
