<template>
  <div class="container">
    <div class="top" >
      <div class="name">{{item.name}}</div>
      <div class="phone">{{item.phone}}</div>
    </div>
    <div class="address">
      {{item.addressContent}}
    </div>
    <div class="separate"></div>
    <div class="footer">
        <el-button type="primary" class="tick" icon="el-icon-success">√</el-button>
        <div class="default">默认地址</div>
        <div class="edit-icon" @click="pushEditAddress(item.id)"></div>
        <div class="edit" @click="pushEditAddress(item.id)">编辑</div>
        <div class="delete-icon" @click="deleteAddress(item.id)"></div>
        <div class="delete" @click="deleteAddress(item.id)">删除</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddressList',
  props: ['item'],
  mounted () {
    // console.log(this.item)
  },
  methods: {
    pushEditAddress (id) {
      this.$router.push({
        name: 'EditAddress',
        params: {id}
      })
    },
    deleteAddress (id) {
      if (confirm('确定要删除吗？')) {
        this.$store.dispatch('requestDeleteAddressList', id)
      }
    }
  }
}
</script>

<style scoped>
.container {
  width: 3.55rem;
  height: 131px;
  margin-left: 0.1rem;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 8px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 0.15rem;
  font-weight: bolder;
  margin-top: 14px;
  margin-left: 0.15rem;
}
.phone {
  font-size: 0.15rem;
  color: #3c3c3c;
  margin-top: 14px;
  margin-right: 0.15rem;
}
.address{
    font-size: 0.13rem;
    color: #888888;
    width: 3.21rem;
    margin-left: 0.15rem;
    margin-top: 6px;
}
.separate{
    width: 3.32rem;
    height: 1px;
    margin-left: 0.12rem;
    margin-top: 15px;
    background-color: #E8E8E8;
}
.footer{
    display: flex;
    flex-direction: row;
}
.tick{
    background-color: #51C569;
    width: 0.16rem;
    height: 0.16rem;
    border: none;
    border-radius: 0.16rem;
    color: #fff;
    text-align: center;
    margin-top: 11px;
    margin-left: 0.16rem;
}
.default{
    font-size: 0.12rem;
    color: #51C569;
    margin-top: 11px;
    margin-left: 0.07rem;
    font-weight: bold;
}
.edit-icon{
    width: 0.14rem;
    height: 0.14rem;
    background-image: url('../assets/编辑icon.png');
    background-size: 100%;
    margin-left: 1.36rem;
    margin-top: 13px;
}
.edit{
    font-size: 0.12rem;
    color: #666666;
    margin-left: 0.11rem;
    margin-top: 11px;
}
.delete-icon{
    width: 0.11rem;
    height: 0.14rem;
    background-image: url('../assets/删除icon.png');
    background-size: 100%;
    margin-left: 0.26rem;
    margin-top: 13px;
}
.delete{
    font-size: 0.12rem;
    color: #666666;
    margin-left: 0.1rem;
    margin-top: 11px;
}
</style>
