<template>
  <div class="table" @click="pushMedicalRecord">
    <div class="top">
      <div class="doctor">
        <div class="text">{{item.doctor}}医生创建的病历</div>
      </div>
      <div class="time">2020-10-10 10:00</div>
    </div>
    <div class="content">
      <div class="message">
        <span class="identification">｜</span>
        <span class="name">{{item.patient}}</span>
        <span class="gender">{{item.gender}}｜{{item.age}}岁</span>
      </div>
      <div class="classification">
        <div class="left">
          <div class="case">[主诉/现病史]</div>
          <div class="case">[既往史]</div>
          <div class="case">[诊断]</div>
          <div class="case">就诊医院</div>
          <div class="case">处方笺</div>
        </div>
        <div class="right">
          <div class="details">{{item.mainIllness}}</div>
          <div class="details">{{item.pastIllness}}</div>
          <div class="details">{{item.diagnosis}}</div>
          <div class="details">{{item.hospital}}</div>
          <div class="details-img">
            <img :src='item.detailsImg' >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CaseList',
  props: ['item'],
  methods: {
    pushMedicalRecord () {
      this.$router.push({
        name: 'MedicalRecord'
      })
    }
  }
}
</script>

<style scoped>
.table {
  /* margin-top: 5px; */
  height: 242px;
  padding-top: 10px;
  background-color: #fff;
  margin-bottom: 4px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.doctor {
  width: 1.64rem;
  height: 27px;
  background: rgba(81, 197, 105, 0.39);
  border-radius: 0px 5000px 5000px 0px;
}
.text {
  font-size: 0.13rem;
  color: #fff;
  line-height: 27px;
  margin-left: 10px;
}
.time {
  font-size: 0.13rem;
  line-height: 27px;
  font-weight: 400;
  margin-right: 0.23rem;
}
.content {
  padding: 10px;
}
.message {
  width: 3.55rem;
  margin-top: 11px;
  height: 23px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e8e8e8;
}
.identification {
  float: left;
  font-size: 0.15rem;
  color: #51c569;
}
.name {
  float: left;
  font-size: 0.15rem;
  font-weight: 600;
}
.gender {
  float: left;
  margin-left: 10px;
  font-size: 0.15rem;
  font-weight: 400;
  color: #666666;
}
.classification {
  height: 32px;
  width: 3.43rem;
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
  margin-left: 17px;
}
.right {
  width: 50%;
}
.case {
  font-size: 0.14rem;
  font-weight: 500;
  line-height: 32px;
  border-bottom: 1px solid #e8e8e8;
}
.details {
  font-size: 0.14rem;
  font-weight: 400;
  line-height: 32px;
  color: #666666;
  border-bottom: 1px solid #e8e8e8;
}
.details-img {
  width: 0.12rem;
  height: 15px;
  margin-top: 9px;
  color: #666666;
  border-bottom: 1px solid #e8e8e8;
}
.details-img img{
  background-size: 100%;
  float: left;
  width: 100%;
  height: 100%;
}
</style>
