<template>
  <div class="container">
    <div class="top">
      <span class="drugs">药品精选</span>
      <span class="more" @click="pushSelected">更多 ></span>
    </div>
    <div class="drugsItem">
      <DrugsShow v-for="item in drugsData" :key="item.id" :item="item"/>
    </div>
  </div>
</template>

<script scoped>
import DrugsShow from './DrugsShow.vue'
export default {
  name: 'Drugs',
  components: { DrugsShow },
  methods: {
    pushSelected () {
      this.$router.push({
        name: 'Selected'
      })
    }
  },
  computed: {
    drugsData () {
      return this.$store.state.drugsData
    }
  },
  mounted () {
    this.$store.dispatch('utilGetDrugsData')
  }
}
</script>

<style scoped>
.top {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.drugs {
  font-size: 0.18rem;
}
.more {
  font-size: 0.12rem;
  color: #969696;
}
.drugsItem {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  width: 100%;
  height: 186px;
}
</style>
