<template>
  <div class="container">
      <div class="img">
          <img :src='item.drugsImg'>
      </div>
      <div class="content">
          <div class="top">
              <div class="title">{{item.title}}</div>
              <div class="identification">{{item.identification}}</div>
          </div>
          <div class="specification">{{item.specification}}</div>
          <div class="footer">
              <div class="manufacturer">{{item.manufacturer}}</div>
              <div class="price">{{item.price}}</div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'DrugsList',
  props: ['item']
}
</script>

<style scoped>
.container{
    margin-bottom: 5px;
    width: 3.55rem;
    height: 120px;
    padding: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.img{
    margin-top: 7px;
    width: 0.86rem;
    height: 0.86rem;
}
.img img{
    width: 100%;
    height: 100%;
    background-size: 100%;
    float: left;
}
.content{
    width: 2.27rem;
}
.top{
    width: 1.78rem;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 0.15rem;
    color:#333;
    font-weight: bold;
}
.identification{
    width: 0.48rem;
    height: 15px;
    background-color: #51C569;
    border-radius: 8px 1px 8px 1px;
    text-align: center;
    font-size: 0.11rem;
    color: #FFFFFF;
}
.specification{
    margin-top: 4px;
    font-size: 0.13rem;
    color: #51C569;
    margin-left: 4px;
    font-weight: 500;
}
.footer{
    width: 2.19rem;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    line-height: 0.18rem;
}
.manufacturer{
    font-size: 0.11rem;
    color: #666666;
}
.price{
    font-size: 0.18rem;
    color: #F76260;
}
</style>
