<template>
  <div>
      <div class="drugsItem">
        <div class="drugs-img">
          <img :src='item.drugsImg'>
        </div>
        <div class="title">{{item.title}}</div>
        <div class="specification">{{item.specification}}</div>
        <div class="price">{{item.price}}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'DrugsShow',
  props: ['item']
}
</script>

<style scoped>
.drugs-img{
  width: 1.04rem;
  height: 1.04rem;
}
.drugs-img img{
  background-size: 100%;
  width: 100%;
  height: 100%;
}
.title{
    margin-top: 8px;
    font-size: 0.12rem;
}
.specification{
    margin-top: 4px;
    font-size: 0.12rem;
    color: #51C569;
}
.price{
    margin-top: 4px;
    font-size: 0.12rem;
    color: #FF5C5C ;
}
</style>
