<template>
  <div class="container">
      <div class="top">
          <div class="time">{{item.time}}</div>
          <div class="quantity-drugs">{{item.quantityDrugs}}</div>
      </div>
      <div class="separate"></div>
      <div class="drugs-item">
        <div class="drugs-name">{{item.name}}</div>
        <div class="quantity">{{item.quantity}}</div>
      </div>
      <div class="specifications">{{item.mySpecification}}</div>
      <div class="drugs-item">
        <div class="drugs-name">{{item.name}} </div>
        <div class="quantity">{{item.quantity}}</div>
      </div>
      <div class="specifications">{{item.mySpecification}}</div>
      <div class="separate1"></div>
      <div class="footer">
          <div class="price">{{item.price}}</div>
          <div class="state">{{item.state}}</div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'MyDrugsList',
  props: ['item']
}
</script>

<style scoped>
.container {
  width: 3.55rem;
  height: 164px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 0.1rem;
  margin-bottom: 5px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.time{
    font-size: 0.15rem;
    font-weight: bolder;
    margin-left: 0.15rem;
    margin-top: 6px;
}
.quantity-drugs{
    font-size: 0.15rem;
    margin-top: 6px;
    margin-right: 0.23rem;
    font-weight: 500;
}
.separate{
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-top: 6px;
}
.drugs-item{
    display: flex;
    justify-content: space-between;
}
.drugs-name{
    font-size: 0.14rem;
    font-weight: 500;
    margin-left: 0.15rem;
    margin-top: 4px;
}
.quantity{
    font-size: 0.14rem;
    font-weight: 500;
    margin-top: 4px;
    margin-right: 0.25rem;
}
.specifications{
    width: 0.78rem;
    height: 16px;
    font-size: 0.11rem;
    background-color: #F4F4F4;
    color: #888888;
    text-align: center;
    margin-left: 0.19rem;
    margin-top: 2px;
    border-radius: 9px;
}
.separate1{
    width: 3.32rem;
    height: 1px;
    margin-left: 0.12rem;
    margin-top: 9px;
    background-color: #E8E8E8;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 0.15rem;
    color: #F76260;
    margin-left: 0.15rem;
    margin-top: 8px;
}
.state{
    margin-right: 0.12rem;
    margin-top: 6px;
    width: 0.75rem;
    height: 24px;
    background-color: #FD6B1A;
    font-size: 0.11rem;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 24px;
}
</style>
