<template>
  <div class="container">
    <div class="box">
      <div class="img"></div>
      <div class="Patient-message">
        <div class="top">
          <div class="name">{{item.name}}</div>
          <div class="other">{{item.gender}}｜{{item.age}}岁</div>
        </div>
        <div class="phone">{{item.phone}}</div>
      </div>
      <div class="edit" @click="pushEditPatien(item.id)">编辑</div>
      <div class="push-btn" @click="pushEditPatien(item.id)">></div>
    </div>
    <div class="separate"></div>
  </div>
</template>

<script>
export default {
  name: 'PatientList',
  props: ['item'],
  methods: {
    pushEditPatien (id) {
      this.$router.push({
        name: 'EditPatient',
        params: {id}
      })
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 65px;
}
.box{
  display: flex;
  flex-direction: row;
}
.img {
  width: 0.34rem;
  height: 0.34rem;
  background-image: url("../assets/医生头像.png");
  background-size: 100%;
  margin-left: 0.1rem;
  margin-top: 16px;
}
.Patient-message {
  margin-left: 0.24rem;
  margin-top: 12px;
}
.top {
  display: flex;
  flex-direction: row;
}
.name {
  width: 0.43rem;
  font-size: 0.15rem;
  font-weight: bolder;
}
.other {
  font-size: 0.15rem;
  color: #999999;
}
.phone {
  font-size: 0.13rem;
  color: #999999;
  margin-top: 5px;
}
.edit {
  font-size: 0.12rem;
  color: #999999;
  margin-top: 24px;
  margin-left: 1.3rem;
}
.push-btn {
  font-size: 0.16rem;
  color: #999999;
  margin-top: 21px;
  margin-left: 0.13rem;
}
.separate {
  width: 3.45rem;
  height: 1px;
  background-color: #f4f4f4;
  margin-left: 0.15rem;
  margin-top: 8px;
}
</style>
