<template>
  <div class="container">
    <div class="top">
      <span class="kepu">科普宣教</span>
      <span class="more" @click="pushKnowledge">更多 ></span>
    </div>
    <div class="content">
      <div
        :class="selectedTap === 'default' ? 'title active' : 'title'"
        @click="isShow1"
      >
        糖宁通络
      </div>
      <div
        :class="selectedTap === 'tabOne' ? 'title active' : 'title'"
        @click="isShow2"
      >
        糖尿病
      </div>
      <div
        :class="selectedTap === 'tabTwo' ? 'title active' : 'title'"
        @click="isShow3"
      >
        降糖药分类
      </div>
      <div
        :class="selectedTap === 'tabThree' ? 'title active' : 'title'"
        @click="isShow4"
      >
        糖尿病注意
      </div>
    </div>
    <div class="separate"></div>
    <TangNiaoBing v-show="selectedTap === 'default'" v-for="item in MyTangNingTongLuo" :key="item.id" :item="item"/>
    <TangNingTongLuo v-show="selectedTap === 'tabOne'" v-for="item in MyTangNiaoBing" :key="item.id" :item="item"/>
    <JiangTangYaoFenLei v-show="selectedTap === 'tabThree'" v-for="item in MyJiangTangYaoFenLei" :key="item.id" :item="item"/>
    <TangNiaoBingZhuYi v-show="selectedTap === 'tabTwo'" v-for="item in MyTangNiaoBingZhuYi" :key="item.id" :item="item"/>
  </div>
</template>

<script>
import TangNingTongLuo from './TangNingTongLuo.vue'
import TangNiaoBing from './TangNiaoBing.vue'
import TangNiaoBingZhuYi from './TangNiaoBingZhuYi.vue'
import JiangTangYaoFenLei from './JiangTangYaoFenLei.vue'
export default {
  name: 'PopularizationOfScience',
  components: {
    TangNingTongLuo,
    TangNiaoBing,
    TangNiaoBingZhuYi,
    JiangTangYaoFenLei
  },
  data () {
    return {
      selectedTap: 'default'
    }
  },
  methods: {
    pushKnowledge () {
      this.$router.push({
        name: 'Knowledge'
      })
    },
    isShow1 () {
      this.selectedTap = 'default'
    },
    isShow2 () {
      this.selectedTap = 'tabOne'
    },
    isShow3 () {
      this.selectedTap = 'tabTwo'
    },
    isShow4 () {
      this.selectedTap = 'tabThree'
    }
  },
  computed: {
    MyTangNingTongLuo () {
      return this.$store.state.tangNingTongLuo
    },
    MyTangNiaoBing () {
      return this.$store.state.tangNiaoBing
    },
    MyJiangTangYaoFenLei () {
      return this.$store.state.jiangTangYaoFenLei
    },
    MyTangNiaoBingZhuYi () {
      return this.$store.state.tangNiaoBingZhuYi
    }
  },
  mounted () {
    this.$store.dispatch('utilGetTangNingTongLuo')
    this.$store.dispatch('utilGetTangNiaoBing')
    this.$store.dispatch('utilGetJiangTangYaoFenLei')
    this.$store.dispatch('utilGetTangNiaoBingZhuYi')
  }
}
</script>

<style scoped>
.top {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.kepu {
  font-size: 0.18rem;
}
.more {
  font-size: 0.12rem;
  color: #969696;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.title {
  font-size: 0.16rem;
  text-decoration: none;
  color: #333333;
  height: 33px;
}
.title.active {
  color: #51c569;
  border-bottom: 2px solid #51c569;
}
.separate{
  width: 100%;
  height: 2px;
  background-color: #F4F4F4;
}
</style>
