<template>
  <div class="container">
    <div class="left">
      <div class="ask-top">
        <div class="ask-img"></div>
        <div class="ask">咨询服务</div>
      </div>
      <div class="service">
        <div class="service-title">咨询用户：</div>
        <div class="service-text">{{item.user}}</div>
      </div>
      <div class="service">
        <div class="service-title">咨询时间：</div>
        <div class="service-text">{{item.time}}</div>
      </div>
      <div class="service">
        <div class="service-title1">处方笺：</div>
        <div class="service-img"><img :src='item.img'></div>
      </div>
    </div>
    <div class="separate"></div>
    <div class="right">
      <div class="state">{{item.state}}</div>
      <div class="price">{{item.price}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ServiceList',
  props: ['item'],
  mounted () {
    console.log(this.item)
  }
}
</script>

<style scoped>
.container {
  width: 3.55rem;
  height: 114px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-left: 0.1rem;
}
.left {
  display: flex;
  flex-direction: column;
}
.ask-top {
  width: 0.97rem;
  height: 20px;
  display: flex;
  justify-content: space-betweene;
  margin-bottom: 9px;
  margin-top: 10px;
}
.ask-img {
  width: 0.19rem;
  height: 0.19rem;
  margin-left: 0.13rem;
  background-color: #51c569;
  border-radius: 0.19rem;
}
.ask {
  font-size: 0.14rem;
  color: #51c569;
  margin-left: 6px;
}
.service{
  display: flex;
  flex-direction: row;
  height: 20px;
}
.service-title {
  font-size: 0.14rem;
  font-weight: bolder;
  margin-left: 0.13rem;
  margin-bottom: 2px;
}
.service-title1 {
  width: 0.7rem;
  font-size: 0.14rem;
  font-weight: bolder;
  margin-left: 0.13rem;
  margin-bottom: 2px;
  text-align: justify;
}
.service-title1:after {
  display: inline-block;
  width: 100%;
  content: "";
}
.service-text {
  font-size: 0.14rem;
  font-weight: 400;
  color: #666666;
  margin-left: 0.05rem;
}
.service-img {
  width: 0.15rem;
  height: 0.15rem;
  margin-left: 0.07rem;
  margin-top: 3px;
}
.service-img img{
  width: 100%;
  height: 100%;
  background-size: 100%;
  float: left;
}
.separate {
  height: 86px;
  width: 1px;
  background-color: #cbcbcb;
  margin-top: 17px;
  position: absolute;
  left: 2.79rem;
}
.right{
  position: absolute;
  right: 0.1rem;
}
.state {
  width: 0.71rem;
  height: 28px;
  font-size: 0.13rem;
  color: #ffffff;
  background-color: #51c569;
  border-radius: 5000px 0px 0px 5000px;
  text-align: center;
  line-height: 28px;
  margin-left: 0.04rem;
  margin-top: 13px;
}
.price {
  font-size: 0.15rem;
  color: #f76260;
  margin-top: 16px;
  margin-left: 0.15rem;
}
</style>
