<template>
  <div class="container">
    <div class="img"></div>
    <div class="content">
      <div class="title">{{item.title}}</div>
      <div class="text">{{item.text}}</div>
      <div class="footer">
        <div class="identification1">{{item.identification1}}</div>
        <div class="identification2">{{item.identification2}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TangNiaoBingZhuYi',
  props: ['item']
}
</script>

<style scoped>
.container {
  margin-bottom: 5px;
  width: 3.55rem;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.img {
  width: 1.01rem;
  height: 76px;
  background-color: black;
  margin-top: 17px;
}
.content {
  width: 2.44rem;
}
.title {
  font-size: 0.15rem;
  color: #333;
  font-weight: bold;
  margin-top: 14px;
}
.text{
  width: 1.99rem;
    font-size: 0.13rem;
    color: #999999;
}
.footer {
  width: 0.92rem;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}
.identification1{
    width: 0.5rem;
    height: 17px;
    border-radius: 9px;
    font-size: 0.11rem;
    text-align: center;
    background-color: #F4F4F4;
    color: #51C569;
}
.identification2{
    width: 0.38rem;
    height: 17px;
    border-radius: 9px;
    font-size: 0.11rem;
    text-align: center;
    background-color: #F4F4F4;
    color: #51C569;
}
</style>
